{
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    font-family: 'Roboto', sans;
    
  }
  .navbar {
    background: #323030;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  #navbar_logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #d9d9d9 0%,rgb(47, 49, 66));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
  }  
  .fa-gem {
    margin-right: 0.5rem;
  }  
  .navbar_menu {
    display: flex;
    align-items: centre;
    list-style: none;
    text-align: center;
  }
    .navbar_item {
    height: 80px;
  }
    .navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
    .navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
    .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
  }
  .button:hover {
    background: #df3535;
    transition: all 0.3s ease;
  }  
  .navbar_links:hover {
    color: #f77062;
    transition: all 0.3s ease;
  }
    @media screen and (max-width: 960px) {
    .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }  
    .navbar_menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
    #navbar_logo {
      padding-left: 200px;
    }
    .navbar_toggle .bar {
      width: 2px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
    .navbar_item {
      width: 100%;
    }
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    .navbar_btn {
      padding-bottom: 2rem;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 60px;
      margin: 0;
    }
    #mobile_menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }
    #mobile_menu.is_active .bar:nth-child(2) {
      opacity: 0;
    }
    #mobile_menu.is_active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is_active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  .main {
    background-color: #141414;
  }
  
  .main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .main_content {
    color: #fff;
    width: 100%;
  }
  
  .main_content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main_content h2 {
    font-size: 4rem;
    margin-top: 10px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .main_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #df3535;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main_btn:hover {
    color: #fff;
  }
  
  .main_btn:hover:after {
    width: 100%;
  }
  
  .main_img_container {
    text-align: center;
  }
  
  #main_img {
    height: 80%;
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    .main_container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }
  
    .main_content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main_content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main_content h2 {
      font-size: 3rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main_content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main_content h2 {
      font-size: 2rem;
    }
  
    .main_content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  
    .main_btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }
  .services{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .services h1{
    background-color:#ff8177;
    background-image: linear-gradient(to right,#ff867a 0%, #ff8c7f 21%, #f9918f 52%, #cf556c 78%, #b12a5b 100%);
    background-size: 100%; 
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .services_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .services_card {
    margin: 1rem;
    height: 525px;
    width: 350px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('images/pic4.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
  }
  
  .services_card:before {
    opacity: 0.2;
  }
  
  .services_card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('images/pic3.jpg');
  }
  .services_card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.9) 100%
      ),
      url('images/pic2.jpg');
  }
  .services_card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  
  .services_card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }
  
  .services_card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
  }
  
  .services_card button:hover {
    cursor: pointer;
  }
  
  .services_card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: 1900px;
    }
    .services_container.card{
      width: 200px;
      max-width: 100%;
    }
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 2000px;
    }
  
    .services h1 {
      font-size: 1.35rem;
    }
  
    .services_card {
      width: 250px;
    }
    .services_card h2{
      font-size: 1.35rem;
    }
  }
  .footer_container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  
  #footer_logo {
    
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }
  
  .footer_link_wrapper {
    display: flex;
    width: 100%;
  }
  
  .footer_link_items {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin: 60px;
    text-align: left;
    padding-left: 0;
    width: 180px;
    box-sizing: border-box;
  }
  
  .footer_link_items h2 {
    margin-bottom: 16px;
    font-size: 2.5rem;
    width: 200px;
    align:left;
    color: #fff;
  }    
  
  .footer_link_items a {
    color: #fff;
    width: 100px;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer_link_items a:hover {
    color: #ff8177;
    transition: 0.3s ease-out;
  }
  .contact_us_items{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin: 60px;
    margin-left: 350px;
    text-align: left;
    padding-left: 0;
    width: 280px;
    box-sizing: border-box;
  }
  .contact_us_items h2{
    margin-bottom: 16px;
    font-size: 2.5rem;
    width: 240px;
    align:left;
    color: #fff;
  }
  .contact_us_items a{
    color: #fff;
    width: 140px;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  .contact_us_items h4{
    color: #fff;
    width: 260px;
    margin-top: 0.5rem;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }

  .social_icon_link {
    color: #fff;
    font-size: 24px;
  }
  .social_icon_link:hover{
    color: #ff8177;
    transition: all 0.25s ease-in-out; 
  }
  
  .social_media {
    max-width: 1300px;
    width: 100%;
  }
  
  .social_media_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    margin: 40px auto 0 auto;
  }
  
  .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }
  
  .social_logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website_rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer_logo {
      margin-bottom: 2rem;
    }
  
    .website_rights {
      margin-bottom: 2rem;
    }
  
    .footer_link_wrapper {
      flex-direction: column;
    }
  
    .social_media_wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer_link_items {
    flex-wrap: wrap;
    align-items: left;
    margin: 60px;
    text-align: left;
    padding-left: 0;
    width: 180px;
    box-sizing: border-box;
    }
  }
  
